<section class="register-card">
    <form  fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" matInput placeholder="Enter your user name" ngModel name="username" required minlength="4" #userInput="ngModel">
            <mat-error *ngIf="userInput.hasError('required')">Must be more than 3 characters.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Field must not empty</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="must be more than 5 characters">
            <input type="password" matInput placeholder="Your password" [(ngModel)]="pas" required minlength="6" 
                (ngModelChange)="checkMatch()" #pwInput="ngModel" ngModel name="password">
            <mat-hint align="end">{{pwInput.value?.length}}/ 6</mat-hint>
            <mat-error>Has to be at least 6 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Your password confirm" [(ngModel)]="pasConfirm" 
                (ngModelChange)="checkMatch()" required #pwConfirm="ngModel" ngModel name="paswwordConfirm">
            <!--<mat-hint align="end">{{pwConfirm.value?.length}}/ 6</mat-hint>-->
            <!--<mat-error>Has to be at least 6 characters long.</mat-error>-->
            <mat-error *ngIf="!isMatch">Password confirm do not match.</mat-error>
            
        </mat-form-field>
        <!--<mat-error *ngIf="!isMatch">Password confirm do not match.</mat-error>-->
        <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="!f.form.valid">Register</button>

    </form>
</section>
{{pas}} {{pasConfirm}} {{isMatch}}
