<div class="background">
  <div class="gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="main-heading">Personal data of Employees</h2>
        </div>
      </div>
      <div class="row align-items-end">
        
        <div class="col-lg-12 col-md-12" [ngClass]="routeAnimationsElements">
          <mat-card>
            <!--<mat-card-title>Сo-workers</mat-card-title>-->
            <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)">
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onSelectRow($event)"></ng2-smart-table>
          </mat-card>
        </div>
        <div class="col-lg-12 col-md-12" [ngClass]="routeAnimationsElements">
          <mat-card>
            <mat-card-title>Detail of person:</mat-card-title>
              <detail [item]="selectedItem"></detail>
          </mat-card>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="mobileWindow">
  <div class="background">
      <div class="gradient">
        <div class="container">
          <!--<div class="row">
            <div class="col-sm-12">
                <input #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearchMobileEdition(search.value)">
            </div>
          </div>-->
          <div class="row align-items-end">
            
            <div class="col-sm-12" [ngClass]="routeAnimationsElements">
              <mat-form-field>
                <input matInput #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearchMobileEdition(search.value)">
              </mat-form-field>
              
              <mat-accordion>
                <mat-expansion-panel (opened)="onExpandPanel(ds)" *ngFor="let ds of dsEmployees">
                  <mat-expansion-panel-header>{{ds.Name}}</mat-expansion-panel-header>
                  <mat-panel-description>{{ds.EmailAddress}} - {{ds.Office}} - {{ds.MobilePhone}}</mat-panel-description>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            
          </div>
        </div>
      </div>
  </div>        
</div>
