<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
          <input matInput placeholder="Enter your user name" ngModel name="username" required minlength="4" #userInput="ngModel">
          <mat-error *ngIf="userInput.hasError('required')">Field must not empty.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6" #pwInput="ngModel">
          <mat-hint align="end">{{pwInput.value?.length}}/ 6</mat-hint>
          <mat-error>Has to be at least 6 characters long.</mat-error>
        </mat-form-field>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </mat-card-actions>
</mat-card>