.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: auto; /* Ширина блока */
    height: 150px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
}