@import '../../../styles-variables';

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

mat-card {
  padding: 10px;
  border-radius: 7px;
  opacity: 0.9;
  margin: 0 0 20px 0;

  mat-card-title {
    position: relative;
    
    code {
      position: absolute;
      top: 11px;
      right: 0;
      float: right;
      font-size: 10px;
    }
  }
  mat-card-subtitle {
    min-height: 60px;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
      min-height: auto;
    }
  }

  a {
    mat-icon {
      position: relative;
      top: 2px;
      font-size: 16px;
    }
  }

  a[mat-icon-button] {
    position: relative;
    top: -4px;
    left: 5px;
  }
}

.background {
  padding: 0 0 0 0;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/intro.jpg') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

}